<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head><form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-4 mb-0">
      <div class="d-grid">
          <input type="submit" value="Get Started" class="btn btn-primary btn-block">
      </div>
</form> 

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/signup.css' %}" rel="stylesheet" />
        
    </head>
    <body>
</body>
</html>